.fundoLogin {
   background-image: url("https://media0.giphy.com/media/Pa8Aykqv9w2ME/giphy.gif?cid=ecf05e47qu676pstt0qihj58mnk5gyrddsi9libj5n18gnsc&ep=v1_gifs_search&rid=giphy.gif&ct=g");
   background-repeat: no-repeat;
   min-height: 100vh;
   width: 100%;
   background-size: cover;
   background-position: center;
}