.bg2 {
  background-image: url(../../../assets/img/img-cadastro.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

.font {
  font-family: 'Cherry Swash', sans-serif;
}

.text::selection {
  background-color: #8A5551;
  color: #f5f5f5;
}.text::-moz-selection {
  background-color: #8A5551;
  color: #f5f5f5;
}