@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body,
button,
input,
select,
textarea {
   font-family: 'Commissioner', sans-serif;
}

header, nav {
   font-family: 'Comfortaa', sans-serif;
}

body {
   background: linear-gradient(90deg, #FEDCC4 0%, #FEDCC5 30%, #FEDDC6 60%, #FEDDC6 100%);
}
